@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

html,body{
  overflow-x: hidden;
}


.services-cards .service-card {
  border-radius: 210px 210px 0 200px;
  padding:30px 40px 20px 55px;
  width: 49%;
  box-sizing: border-box;
}

.services-cards .service-card:nth-child(2) {
  border-radius: 210px 210px 210px 0;
}

.services-cards .service-card:nth-child(3) {
  border-radius: 210px 0  210px  200px;
}

.services-cards .service-card:nth-child(4) {
  border-radius: 0 210px 210px 210px;
}
